.intro {
    background-image: url(/app/img/robogif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6em 0em 2em 0em;
    padding: 0.5em;
    h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: x-small;
        margin: 2.5em;
    }
    h2, p {
        text-align: center;
    }
}

@media only screen and (min-width: 500px) {
    .intro {
        p {
            font-size: small;
        }
    }
}

@media only screen and (min-width: 720px) {
    .intro {
        h2 {
            font-size: xx-large;
        }
        p {
            font-size: medium;
            margin-inline: 7em;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .intro {
        h2 {
            font-size: 400%;
        }
        p {
            font-size: xx-large;
            margin-inline: 3em;
        }
    }
}

@media only screen and (min-width: 1600px) {
    .intro {
        h2 {
            font-size: 500%;
        }
        p {
            font-size: 250%;
            margin-inline: 3em;
        }
    }
}

